@model WebPanel.ViewModels.Student.StudentViewModel
@using Utilities
@{
    ViewBag.Title = "Students Page";
}


<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <label for="txtStudentName">StudentName:</label>
        <input type="text" class="form-control" id="txtStudentName" placeholder="Student Name"
               name="txtStudentName" value="@ViewBag.CurrentFilter" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-dark" style="margin-top:5%">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam" asp-route-txtStudentName="@ViewBag.CurrentFilter">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NationalCodeSortParam" asp-route-txtStudentName="@ViewBag.CurrentFilter">NationalCode</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSortParam" asp-route-txtStudentName="@ViewBag.CurrentFilter">Age</a>
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PaginatedStudents)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.NationalCode</td>
                <td>@item.Age</td>
                <td>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu shadow animated--grow-in">
                        @foreach (var link in Model.Actions)
                        {
                            <a style='margin-right:16px' class="dropdown-item"
                       asp-controller="@link.Controller" asp-action="@link.Action" asp-route-studentId="@item.Id">
                                <i class="fas fa-wrench"></i> @link.Title
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var hasPerv = !Model.PaginatedStudents.HasPervious ? "disabled" : "";
    var hasNext = !Model.PaginatedStudents.HasNext ? "disabled" : "";
}

<div>

    <a asp-action="Index"
       asp-route-pageNumber="@Model.PaginatedStudents.PervoisPage"
       asp-route-sortOrder="@ViewBag.CurrentSortOrder"
       asp-route-txtStudentName="@ViewBag.CurrentFilter"
       class="btn btn-block @hasPerv">
        Perv
    </a>

    <a asp-action="Index"
       asp-route-pageNumber="@Model.PaginatedStudents.NextPage"
       asp-route-sortOrder="@ViewBag.CurrentSortOrder"
       asp-route-txtStudentName="@ViewBag.CurrentFilter"
       class="btn btn-block @hasNext">
        Next
    </a>
</div>
<div>
    <span>Current Page : @Model.PaginatedStudents.PageIndex</span>
    <span>Total Pages : @Model.PaginatedStudents.TotalPages</span>
</div>

<a class="btn btn-primary" data-url="Create" data-toggle="modal" data-target="#createStudent" id="CreateUser">
    Create User
</a>

@await Html.PartialAsync("_StudentCreate.cshtml",new StudentDomain())


